{% case page.layout %}
{% when 'index' %}
  {% assign is_post = false %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% when 'post' %}
  {% assign is_post = true %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% when 'page' %}
  {% assign is_post = false %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% when 'archive' %}
  {% assign is_post = false %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% when 'category' %}
  {% assign is_post = false %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% when 'tag' %}
  {% assign is_post = false %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% when 'schedule' %}
  {% assign is_post = false %}
  {% capture sidebar %}{% include _macro/sidebar.html disable_toc=page.disable_toc %}{% endcapture %}
{% endcase %}
