<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  {% comment %} OpenGraph tags from http://ogp.me/ {% endcomment %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  {% endif %}
  {% if page.title %}
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
  {% elsif page.description %}
  <meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
  {% endif %}
  {% if page.thumbnail %}
  <meta property="og:image" content="{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}">
  {% else %}
  <meta property="og:image" content="{{ site.baseurl | prepend: site.url | append: '/assets/tower_full.png' }}">
  {% endif %}
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  {% include analytics.html %}
</head>
