.center-image
{
    margin: 0 auto;
    display: block;
}

.right {
    float: right;
    //width: 300px;
    border:4px solid #aaaaaa;
    padding: 0px;
}

.right-image {
    float: right;
    width: 300px;
    padding-left: 10px;
}

table {
    display: table;
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    border-top-color: gray;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: gray;
    margin-bottom: 1em;
}

table thead {
    display: table-header-group;
    vertical-align: middle;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

table tr {
    display: table-row;
    vertical-align: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

table th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}

