.center-image
{
    margin: 0 auto;
    display: block;
}

.right {
    float: right;
    //width: 300px;
    border:4px solid #aaaaaa;
    padding: 0px;
}

.right-image {
    float: right;
    width: 300px;
    padding-left: 10px;
}
